Sublime-Text/.config/sublime-text-3/Local/
Sublime-Text/.config/sublime-text-3/Cache/
Sublime-Text/.config/sublime-text-3/Index/
Sublime-Text/.config/sublime-text-3/Packages/User/Package Control.cache/
Sublime-Text/.config/sublime-text-3/Packages/User/Package Control.last-run
Sublime-Text/.config/sublime-text-3/Packages/User/Package Control.merged-ca-bundle
Sublime-Text/.config/sublime-text-3/Packages/User/Package Control.user-ca-bundle
Sublime-Text/.config/sublime-text-3/Packages/User/Package Control.sublime-settings
Sublime-Text/.config/sublime-text-3/Packages/User/Package Control.last-run
ranger/.config/ranger/tagged
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks
ranger/.config/ranger/scope.sh
Sublime-Text/
.DS_Store
emacs/.emacs.d/backups
emacs/.emacs.d/.*~
emacs/.emacs.d/recentf
emacs/.emacs.d/request/
emacs/.emacs.d/snippets/
emacs/.emacs.d/elpa/
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/cider-history
emacs/.emacs.d/backup
emacs/.emacs.d/bookmarks
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/ac-comphist.dat

.mc-list.el
.python-environments/
.mc-lists.el
.recentf
places
.smex-items
bookmarks
projectile.cache
url/
elpa.BAK/
